#top, #bottom, #left, #right {
    background: #677cb1;
    position: fixed;
    z-index: 5;
}
#left, #right {
    top: 0; bottom: 0;
    width: 6px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
    left: 0; right: 0;
    height: 6px;
}
#top { top: 0; }
#bottom { bottom: 0; }

nav.head  {
    z-index: 2;
    color: white;
    font-size: 25px;
    text-align: center;
}
table {
    width: 100%;


}


.t0 {
    border: none;
    text-align: left;
    vertical-align: middle;
    height: 50px;
    width: 300px;
    padding-left:3%;
    position: sticky; top: 0;
}
.t1{
    border: none;
    text-align: right;
    vertical-align: middle;
    height: 50px;
    width: 300px;
}

.t2{
    border: none;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    height: 50px;
    width: available;
    color:white;
}

.t3{
    border: none;
    text-align: center;
    height: 200px;
    width: 300px;
}

.t4{
    border: none;
    text-align: left;
    vertical-align: top;
    height: 200px;
    width: available;
}

.t5{
    border: none;
    text-align: center;
    height: 200px;
    width: 300px;
}

