#top, #bottom, #left, #right {
    background: #677cb1;
    position: fixed;
    z-index: 5;
}
#left, #right {
    top: 0; bottom: 0;
    width: 6px;
}
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
    left: 0; right: 0;
    height: 6px;
}
#top { top: 0; }
#bottom { bottom: 0; }

nav.head {
    z-index: 2;
    color: white;
    font-size: 25px;
    text-align: center;
}

h2 {
    text-align: center;
}
.fz {
    margin-left: 18%;
}